*{box-sizing:border-box; transition: all ease-in-out .6s}
body {
  margin: 0;
  padding: 0;
  background: #000;
  color:#fff;
  display: flex;
  align-items:center;
  justify-content:center;
}

ul {
  list-style:none;
}

img {
  max-width:100%;
  display: block;
  object-fit:cover;
}

.story-container {
  width:  300px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.story-container .wrapper {
  display: flex;
}

/* .story-container .wrapper img {
   width: 300px !important;
} */
.tips-container {
  position:absolute;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  align-items:center;
  justify-content:center;
  top: 0;
  left: 0;
  width: 100%;
  margin: 10px auto;
  height: 5px;
  padding: 0;
}

.tips-container li {
  width: 80%;
  margin: 0 auto;
  border-radius:2px;
  background:#ffffff75;
  height: 4px;
  transition: all ease .2s;
}

.tips-container li.active {
 background:hsl(264, 100%, 50%); 
}

/* 

.slide-prev,
.slide-next {
    display: block;
    width: 30px;
    height:30px;
    opacity: .8;
    position: absolute;
    top: 50%;
    right: 5px;
    background: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==') no-repeat;
    cursor: pointer;
    padding: 5px;
}

.slide-prev {
    left: 5px;
    transform: rotate(180deg)
} */